# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# CLIENT
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# SERVER
# dependencies
/express-server/node_modules
/express-server/build
/express-server/.env
/express-server/.env.local
/express-server/.env.development.local
/express-server/.env.test.local
/express-server/.env.production.local

/nest-server/node_modules
/nest-server/build
/nest-server/.env
/nest-server/.env.local
/nest-server/.env.dev
